h4 {
  font-family: Hanson;
}

.card {
    min-height: 600px;
}

.card-body {
    text-align: center;
}

.card img {
    padding: 10px;
}

.card-title {
  font-family: Hanson;
  padding-left: 1rem;
  padding-top: 1rem;
}

.description {
    padding-left: 1.5rem;
}

.gap {
  padding-top: 3rem;
}

.overview p {
  padding-left: 1rem;
  padding-top: 2rem;
}
